.about__content--skill {
  h1 {
    color: #fb4226;
    width: 14%;
    position: relative;
    padding-bottom: 10px;
    &:after,
    &:before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      background-color: #fb4226;
      width: 50%;
      height: 10px;
      border-radius: 0 10px 10px 0;
    }
    &:before {
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.7);
    }
  }
  .skill__content {
    opacity: 0;
    transition: all 0.5s;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 100px;
    border: 2px solid black;
    padding: 0 20px;
    box-shadow: 0 0 10px black;
    .skill__item {
      margin: 20px 0;
      text-align: center;
      border: 1px solid black;
      padding: 10px 0;
      box-shadow: 0 0 10px black;
      border-radius: 10px;
      p {
        font-weight: 700;
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .about__content--skill {
    margin-top: 100px;
    .skill__content {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and (max-width: 736px) {
  .about__content--skill {
    .skill__content {
      grid-column-gap: 50px;
    }
  }
}

@media only screen and (max-width: 414px) {
  .about__content--skill {
    .skill__content {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 50px;
    }
  }
  .about__content--skill h1 {
    width: 30%;
  }
}
